.article-body {
    font-size: 20px; 
    line-height: 1.7;
}

.article-body p {
    margin-bottom: 1.5rem;
}

.article-body h2 {
    font-size: 32px;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
    line-height: 1.3;
}

.article-body h3 {
    font-size: 24px;
    margin-top: 2rem;
    margin-bottom: 0.75rem;
}

.article-body .math {
    font-size: 22px;
}



code {
    background-color: red !important;
}