:root {
   /* ----------------- fonts --------------- */
	--font-family-normal: "Playfair Display", serif;
	--font-family-stylish: "Praise", serif;

    /* ------------------ couleurs ---------------- */
    --color-light-beige: #F7F2E4;
	--color-mauve-dark: #341830;
	--color-mauve-light: #333;

	--background-color: #F7F2E4;
	--text-color: var(--color-gray-90);
	--text-color-link: #082840;
	--text-color-link-active: #5f2b48;
	--text-color-link-visited: #17050F;
}

body {
    background-color: var(--background-color) !important;
    font-family: var(--font-family-normal) !important;
    font-optical-sizing: auto !important;
    font-style: normal !important;
    font-size: 1rem !important;
    overflow-x: hidden !important;
    max-width: 100% !important;
}

html, body {
    overflow-x: hidden !important;
    max-width: 100% !important;
    background-color: var(--background-color);
}

/* ----------- texte --------------  */
.praise-font {
    font-family: var(--font-family-stylish) !important;
    font-weight: 400 !important;
    font-style: normal !important;
}

.texte {
    font-size: 1.1rem !important;
}

.my-magenta {
    color: var(--color-mauve-dark) !important;
}

/* ------------- Liens -------------- */
.links-mauve {
    color: var(--color-mauve-dark) !important;
    font-style: italic !important;
}

.links-white {
    color:  var(--color-light-beige) !important;
    font-style: normal !important;
    text-decoration: none !important;
}

a:hover {
    cursor: pointer !important;
}
.opacity-links {
    opacity: 1 !important;
    transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1) !important;
}

.opacity-links:hover {
    opacity: 0.6 !important;
    transition: opacity 0s steps(1, start) !important;
}



/* ------------- Icons ---------- */
i {
    color: var(--color-mauve-dark) !important;
}

.my-chevron-123 {
    bottom: 4% !important;
    font-size: 2rem !important;
}

@media (max-width: 576px) {
    .slide-in-left {
        max-width: 6rem !important;
    }

    .gap-4 {
        gap: 1rem !important;
    }

    .button2 {
        font-size: 1rem;
    }
}


/* --------- autre ------------- */

.elfsight-app-5e059b5c-451b-4804-ba57-5a7f0413227a {
    margin: 0 auto !important;
}




