---
layout: base.njk
title: À propos - Tommy Roy
---

<div class="row mb-3 mt-5 mb-md-4 text-center justify-content-center fade-in">
    <div class="col-12">
        <div class="d2">
            Moi
        </div>
    </div>
</div>

<div class="container  d-flex justify-content-center fade-in">
    <div class="row">
        <!-- Côté créatif -->
        <div class="col-12 col-md-6">
            <div class="h-100 p-3 p-md-4">
                <h3 class="mb-4">
                    Mon côté créatif
                </h3>
                <p class="texte lh-lg">
                        Ma passion pour la peinture a débuté avec l’acrylique et le
                        dessin au graphite. Aujourd’hui, à 19 ans, mon médium de prédilection est la peinture à
                        l’huile, que je pratique de manière constante depuis maintenant quatre ans — et je n’ai
                        nullement l’intention de m’arrêter.
                    </p>
                <p class="texte lh-lg">
                        C'est grâce à la magie d'Internet que j'ai eu l'occasion de découvrir diverses techniques
                        telles que l'<span class="fst-italic">alla prima</span> à la peinture à l'huile.
                        Depuis, je n'ai jamais cessé d'apprendre. Ce qui me fascine particulièrement, c’est la
                        capacité de transmettre la beauté d’une scène à travers des coups de pinceau qui, en plus de
                        leur signification contextuelle, possèdent une qualité abstraite attirante.
                    </p>
                <p class="texte lh-lg">
                        Il me reste encore tant à explorer. Si vous souhaitez suivre mes projets en cours, n’hésitez
                        pas à vous abonner à mes comptes <a href="https://www.instagram.com/tommyroyart/"
                            class="text-dark fst-italic">Instagram</a> et <a
                            href="https://www.facebook.com/tommyroyart" class="text-dark fst-italic">Facebook</a>.
                    </p>
            </div>
        </div>

        <!-- Côté autre -->
        <div class="col-12 col-md-6">
            <div class="h-100 p-3 p-md-4">
                <h3 class="mb-3">
                    Quoi d'autre&nbsp;?
                </h3>
                <p class="texte lh-lg">
                        En dehors de la peinture, j’ai un fort intérêt pour la <span
                            class="fst-italic">physique</span>, que j’aimerais approfondir en entamant un
                        baccalauréat dans ce domaine.
                    </p>
                <p class="texte lh-lg">
                        L’un de mes objectifs, à travers cette démarche, est d’élargir ma conception de la beauté :
                        que ce soit en cherchant à <span class="fst-italic">comprendre</span>, ne serait-ce qu’une
                        infime partie de l’Univers grâce à la rigueur scientifique, ou en valorisant l’art dans son
                        sens conventionnel.
                    </p>
                <p class="texte lh-lg">
                        Mes intérêts évoluent chaque jour, mais ce qui occupe principalement mon esprit inclut la
                        lecture, le dessin, la peinture, la physique, les mathématiques, la photographie, la guitare
                        et la musique.
                    </p>
                <div class="col-12 d-flex justify-content-center align-items-center p-3 p-md-5">
                    <img class="img-fluid rounded shadow slide-in-left mt-4 mt-md-0"
                            style="rotate: 5deg; max-width: 10rem;" src="/images/autre/petit-moi-carré.png"
                            alt="photographie de Tommy Roy tenant un pinceau">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="text-center"><img src="/images/svg/line-deco.png" alt="" class=" img-fluid my-5"
            style="max-width: min(300px, 90vw);"></div>
</div>