---
layout: base.njk
title: Contact - Tommy Roy
---

<div class="row mb-3 mt-5 mb-md-4 text-center justify-content-center fade-in">
    <div class="col-12">
        <div class="d2">
                Me Contacter
            </div>
    </div>
</div>

<div class="row align-items-center justify-content-center">

    <!-- Text Column -->
    <div class="col-12 col-md-7 col-lg-6 p-3 p-md-4">
        <p class="texte fade-in text-start">
                Salut !
            </p>
        <p class="texte fade-in text-start">
                Je m’appelle Tommy Roy et je serai heureux d’échanger avec vous concernant la faisabilité d’un
                projet, la disponibilité d’une œuvre ou toute autre demande.
            </p>

        <p class="texte lh-lg">
                Pour me contacter, veuillez remplir ce <a href="#myForm" style="color: #341830; font-style: italic;"
                    class="opacity-links">formulaire</a> ou m’écrire directement par courriel. Vous pouvez également
                me retrouver sur les différents réseaux sociaux. Je me ferai
                un plaisir de partager avec vous ma passion pour l’art&nbsp;!
            </p>
        <p class="texte fs-5 fw-bold lh-lg">
                Intéressé par l'achat d'une œuvre originale ou par une toile personnalisée&nbsp;? Ici, c'est le bon
                endroit
            </p>
        <div class="mt-5 d-lg-block d-flex justify-content-center justify-content-md-start ">
            <!-- <a href="#myForm"><button class="btn btn-primary shadow fst-italic">Contacter</button></a> -->

            <a href="https://www.instagram.com/tommyroyart/" target="_blank"
                    class="text-dark me-4 opacity-links">
                <i class="fab fa-instagram fa-lg" style="scale: 1.5;"></i>
            </a>
            <a href="https://www.facebook.com/tommyroyart" target="_blank" class="text-dark me-4 opacity-links">
                <i class="fab fa-facebook fa-lg" style="scale: 1.5;"></i>
            </a>
            <a href="#section1" class="text-dark opacity-links ">
                <i class="fas fa-envelope fa-lg" style="scale: 1.5;"></i>
            </a>
        </div>
    </div>
    <!-- Image Column -->
    <div class="col-12 col-md-4 p-3 p-md-5 text-center d-flex align-items-center justify-content-center">
        <img class="img-fluid rounded shadow slide-in-left mt-4 mt-md-0" style="rotate: 5deg; max-width: 10rem;"
                src="/images/autre/photo-1-carré.jpg" alt="photographie de Tommy Roy avec une casquette">
    </div>
</div>
<div class="text-center"><img src="/images/svg/line-deco.png" alt="" class=" img-fluid my-5"
            style="max-width: min(300px, 90vw);"></div>
</div>

<!-- contact form  -->

<div class="container">
<div class="row mb-3 mb-md-4 praise-font text-center justify-content-center fade-in">
    <div class="col-12">
        <div class="d2">
                Envoyer un message
            </div>
    </div>
</div>
<form id="myForm" onsubmit="submitForm(event)" method="post"
        action="https://forms.un-static.com/forms/980fdef8bd25a4bf9a0c14e4492358d4517bd25c"
        class="px-2 px-sm-3 px-md-4 px-lg-5">

    <div class="px-1 px-sm-2 px-md-3 px-lg-5">
        <!-- Nom -->
        <div class="mb-4">
            <label for="name" class="form-label fs-4 text-dark mb-3">Nom</label>
            <div class="row">
                <div class="col-12 col-sm-8 col-md-6 col-lg-4">
                    <input type="text" class="form-control shadow" id="name" name="name"
                            placeholder="Nom complet" required>
                </div>
            </div>
        </div>

        <!-- Adresse courriel -->
        <div class="mb-4">
            <label for="email" class="form-label fs-4 text-dark mb-3">Adresse courriel</label>
            <div class="row">
                <div class="col-12 col-sm-8 col-md-6 col-lg-4">
                    <div class="input-group shadow">
                        <span class="input-group-text bg-light">
                            <i class="fa fa-envelope"></i>
                        </span>
                        <input type="email" class="form-control" id="email" name="email"
                                placeholder="Adresse courriel" required>
                    </div>
                </div>
            </div>
        </div>

        <!-- Sujet -->
        <div class="mb-4">
            <label for="subject" class="form-label fs-4 text-dark mb-3">Sujet</label>
            <div class="row">
                <div class="col-12 col-sm-10 col-md-8 col-lg-6">
                    <input type="text" class="form-control shadow" id="subject" name="subject"
                            placeholder="Peinture personnalisée, œuvre originale, etc." required>
                </div>
            </div>
        </div>

        <!-- Message -->
        <div class="mb-4">
            <label for="message" class="form-label fs-4 text-dark mb-3">Message</label>
            <div class="row">
                <div class="col-12 col-lg-10 col-xl-8">
                    <textarea name="message" id="message" class="form-control shadow p-3" rows="6"
                            placeholder="..." required></textarea>
                </div>
            </div>
        </div>

        <!-- Bouton d'envoi -->
        <div class="mt-4 mt-md-5">
            <div class="d-flex justify-content-center justify-content-md-start">
                <button type="submit" class="btn btn-primary shadow fst-italic px-4 py-2">
                        Envoyer
                    </button>
            </div>
        </div>
    </div>
</form>
