---
layout: base.njk
title: Acceuil - Tommy Roy
---

<!-- Title Row -->
<div class="row mb-3 mb-md-4 text-center justify-content-center fade-in">
    <div class="col-12 d1 d-none d-md-block">
            Tommy Roy
    </div>
    <div class="col-12 d2 d-block d-md-none">
            Tommy Roy
    </div>
</div>

<!-- Content Row -->
<div class="row align-items-center justify-content-center">
    <!-- Image Column -->
    <div class="col-12 col-md-4 p-3 p-md-5 text-center">
        <img class="img-fluid rounded shadow slide-in-left mb-3" style="rotate: -5deg; max-width: 10rem;"
                    src="images/autre/moi-jaune-1mb.jpg" alt="photographie de Tommy Roy avec une casquette">

        <div class="d-flex justify-content-center mt-3 mt-md-4 gap-3 gap-md-4">
            <a href="https://www.instagram.com/tommyroyart/" target="_blank" class="text-dark opacity-links">
                <i class="fab fa-instagram fa-2x"></i>
            </a>
            <a href="https://www.facebook.com/tommyroyart" target="_blank" class="text-dark opacity-links">
                <i class="fab fa-facebook fa-2x"></i>
            </a>
            <a href="/contact/" class="text-dark opacity-links">
                <i class="fas fa-envelope fa-2x"></i>
            </a>
        </div>
    </div>

    <!-- Text Column -->
    <div class="col-12 col-md-7 col-lg-6 p-3 p-md-4">
        <p class="fade-in text-md-start">
            Bienvenue sur mon site internet ! Il s’agit du meilleur endroit pour me contacter ainsi que pour
            découvrir mes œuvres.
            Vous y trouverez une variété de sujets, allant des natures mortes aux paysages, en passant par les
            portraits.
        </p>
        <div class="text-center text-md-end">
            <a href="/portfolio/" tyle="text-decoration: none; font-style: normal">
                <button type="button" class="btn btn-primary fade-in shadow fst-italic mt-3 mt-md-4">
                    Voir mes projets
                </button>
            </a>
        </div>
    </div>
</div>

<!-- Chevron -->
<div class="row d-none d-md-block" style="margin-bottom: 5rem">
    <div class="col text-center">
        <a href="#section1">
            <i class="fa-solid fa-chevron-down opacity-links my-chevron-animation my-chevron-123"
               style="font-size: 1.25rem; color: #341830;"></i>
        </a>
    </div>
</div>

<!-- Titre -->
<div class="row fade-in text-center justify-content-center d-none d-md-block">
    <div class="col-12 d2">
        Nouveautés
    </div>
</div>

<!-- Widget Elfsight -->
<div class="d-none d-md-flex justify-content-center position-relative mt-4 px-2 px-md-3 rounded fade-in">
    <div class="col-12 col-lg-10 col-xl-8 text-center" id="section1">
        <script src="https://static.elfsight.com/platform/platform.js" async></script>
        <div class="elfsight-app-5e059b5c-451b-4804-ba57-5a7f0413227a" data-elfsight-app-lazy></div>
    </div>
</div>