---
layout: base.njk
title: Succès - Tommy Roy
---

<div class="container p-5 text-center" style="height: 50vh;">
    <p class="mt-5">Message envoyé avec succès !</p>
    <a href="/">Retourner à la page d'acceuil</a>
</div>


